---
layout: post
title: Tags
permalink: "/tags"
---

<!--
reference : https://stackoverflow.com/questions/14229842/jquery-simple-accordion
-->

<ui class="accordion">
  {% for tag in site.tags %}
  <li class="accordion-li">
    <div class="accordion-title"># {{ tag[0] }}</div>
    <div class="accordion-body">
      {% for post in tag[1] %}
      <a href="{{ post.url }}">- {{ post.title }}</a>
      <br>
      {% endfor %}
    </div>
  </li>
  {% endfor %}
</ui>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript">
  $(document).ready(function(){
    $(".accordion-body").hide();
    $(".accordion-title").click(function(){
      $(this).next(".accordion-body").slideToggle();
      $(this).closest("li").siblings().find(".accordion-body").slideUp();
    });
  });
</script>
